* {
    margin: 0;
}

body {
    min-height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 40vw;
    max-height: 50vh;
}

#search-bar {
    display: flex;
}
